.wrapper {
  display: flex;
  background-color: rgb(136, 179, 165);
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: auto 10px;
}

.link {
  color: white;
  font-weight: bold;
}

.activeLink {
  color: brown;
}
