.wrapper {
  /* display: flex; */
}

.ul {
  padding: 0;
  list-style: none;
  /* display: grid;
  grid-template-columns: repeat(6, 1fr); */
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));

  /* grid-column-gap: 10px;
  grid-row-gap: 10px; */
  grid-gap: 16px;
}

.li {
  /* background-color: aqua; */
  box-shadow: inset 1px -1px 15px 0px #8e97e530;
  border-radius: 4px;
  padding: 8px;
}

.img {
  max-width: 150px;
}

.linkWrapper {
  text-decoration: none;
}

.title {
  color: black;

  &:visited {
    color: red;
  }
}
